*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Inter, sans-serif;
    font-weight: 100;
    background-color: #ffffff;
}


.nav{
    background: #F55A5A;
    display: flex;
    padding: 20px 36px;
    height: 70px;
    align-items: center;
    justify-content: center;
}
.nav-logo{
    max-width: 100px;
    padding: 10px;
}
.logo-text{
    color: #ffffff;
}

.card-list{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}
.card{
    display: flex;
    width: 470px;
   
}
.cover-img{
    margin-right: 20px;
    width: 128;
    min-width: 128px;
    max-height: 168px;
}

.content{
    font-size: 11px;
    margin-top: 15px;
}
.location{    width: 300px;

    font-weight: normal;
    line-height: 12px;
    letter-spacing: 0.17em;
    font-size: 10.24px;
    font-family: Inter;
    padding: 5px;
}
.gray  {
 color: #918E9B;

}
.gray:hover{
    color: #2B283A;
}
.content > h2{
    margin-top: 5px;
    font-size: 25px;
    color: #2B283A;
}
.bold{
    font-weight: bold;
    margin: 2px;
    font-size: 10.24px;
}
.description{
    font-size: 10.24px; 
    font-weight: normal;
    line-height: 150%;
}